{{#if updateForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="text">Question</label>
        {{input value=text id="text" placeholder=answer.text}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=answer.author}}
      </div>

      <button {{action 'update' answer}}>Save</button>
    </form>
  </div>
{{else}}
  <h3>{{answer.text}}</h3>
  <h4>  - {{answer.author}}</h4>
  <button {{action 'showForm'}}>Update</button>
{{/if}}
